body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px rgb(68, 68, 206);
    border-style: double solid dotted dashed;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
h1:hover{
    color:aqua;
};
